@keyframes openingLogin {
    0% {
        opacity: 0;
        transform: translateX(-500%)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes openingModal {
    0% {
        opacity: 0;
        transform: translateY(-500%);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes closedModal {
    0% {
        opacity: 1;
        transform: translate(0,0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(-500%);
    }
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes leftToRightInverse {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-500px);
    }
}





