.font-title-1 {
    font-size: var(--fontTitle1);
    font-weight: var(--fontWeigth1);
    line-height: 40px;
}

.font-title-2 {
    font-size: var(--fontTitle2);
    font-weight: var(--fontWeigth2);
    line-height: 24px;
}

.font-title-3 {
    font-size: var(--fontTitle3);
    font-weight: var(--fontWeigth2);
    line-height: 18px;
}

.font-title-4 {
    font-size: var(--fontTitle4);
    font-weight: var(--fontWeigth2);
    line-height: 18px;
}

.font-text-1 {
    font-size: var(--fontText1);
    font-weight: var(--fontWeigth3);
    line-height: 28px;
}

.font-text-2 {
    font-size: var(--fontText2);
    font-weight: var(--fontWeigth3);
    line-height: 16px;
}

.font-text-3 {
    font-size: var(--fontText3);
    font-weight: var(--fontWeigth3);
    line-height: 16px;
}
